<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.png" alt="Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">DIET DASHBOARD</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/foodlist"> <mat-icon>restaurant_menu</mat-icon> Food List </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/todaylist"> <mat-icon>today</mat-icon> Today List </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/chart"> <mat-icon>pie_chart</mat-icon> Chart </a>
</mat-nav-list>

