<div class="container">
  <div class="card shadow p-3 mb-5 rounded">
    <div class="card-body">
      <h1 class="card-title">Today List</h1>
      <div class="row">
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-hover">

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
                <td mat-footer-cell *matFooterCellDef> <strong>TOTAL</strong> </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="fat">
                <th mat-header-cell *matHeaderCellDef> Fat </th>
                <td mat-cell *matCellDef="let element"> {{element.fat}} </td>
                <td mat-footer-cell *matFooterCellDef> <strong>{{sumList[0]}}</strong> </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="protein">
                <th mat-header-cell *matHeaderCellDef> Protein </th>
                <td mat-cell *matCellDef="let element"> {{element.protein}} </td>
                <td mat-footer-cell *matFooterCellDef> <strong>{{sumList[1]}}</strong> </td>
              </ng-container>

              <ng-container matColumnDef="carbs">
                <th mat-header-cell *matHeaderCellDef> Carbs </th>
                <td mat-cell *matCellDef="let element"> {{element.carbohydrates}} </td>
                <td mat-footer-cell *matFooterCellDef> <strong>{{sumList[2]}}</strong> </td>
              </ng-container>

              <ng-container matColumnDef="fiber">
                <th mat-header-cell *matHeaderCellDef> Fiber </th>
                <td mat-cell *matCellDef="let element"> {{element.fiber}} </td>
                <td mat-footer-cell *matFooterCellDef> <strong>{{sumList[3]}}</strong> </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
        </div>
      </div>
      <div class="row mt-3">
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-danger" (click)="removeSelectedRows()">Remove From Today List</button>
        </div>
      </div>
    </div>
  </div>
</div>
