mat-toolbar {
  position: sticky;
  top: 0;
  padding-top: 10px;
  z-index: 100;
  background-color: #1f242f ;
}
h5{
  color: floralwhite;
  font-size: 15px;
}

mat-icon{
  color: floralwhite;
}
button {
  outline: none;
  border: 0;
  background: transparent;
}
h1{
  color: azure;
  font-family: 'Titan One', cursive;
  font-size: 28px;
}
