/* body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.sidebar{
    position: absolute;
    top: 20vh;
    bottom: 20vh;
    height: 60%;
    left: 0;
    width: 180px;
    margin: 10px auto;
} */

/* mat-toolbar {
    background-color: #004a9f;
    color: white;
} */

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background-color: #782d30;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.content {
    /* margin-top: 70px; */
    height: calc(100vh - 170px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    padding: 40px;

    display: flex;
    justify-content: left;
    align-items: center;

    font-size: 2rem;

    border-radius: 10px;
    background-color: rgba(241, 238, 239, 0.755);
}

mat-sidenav-container {
    margin-top: 30px;
    height: calc(100vh - 140px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}
.menu-button mat-icon {
    margin-right: 8px;
}
mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}
